html {
height: 100%;
} 


#mdp {
    margin-bottom: 20px;
}

button {
    font-family: syne;
    color: white;
    background-color: #1D6154;
}


.pcl {
    display: flex;
    justify-content: flex-end;
}

body {
    width: 1440px;
}

footer {
    background-color: white;
}